* {
    font-family: 'Noto Sans', sans-serif;
}

body {
  background-size:
    auto auto;
  background-color: rgba(250, 193, 168, 1);
  background-repeat:
    repeat-y;
  background-position:
    right top;
  background-image:
    url(~static/deco_right.svg),
    repeating-linear-gradient( to right, #ffe9dc, #ffe9dc 18px, #FFECE0 18px, #FFECE0 33px );
}

main {
    min-height:95vh;
}

table {
  border-radius: 8px;
}

.is-dark {
  background-color: #3a190c !important;
}

.message-header {
  color: #6B3939;
  background-color: #ccaa99 !important;
}

.message-body {
  background-color: #f7ede9 !important;
}

.card-content {
  background-color: #FEFEFE !important;
}

.modal-card-title {
  color: #363636 !important;
}

.modal-card-text > p {
  color: #363636 !important;
}

.title {
  font-family: 'Arvo', serif;
  color: #6B3939 !important;
}

.subtitle {
  color: #955E4B !important;
}

.is-primary {
  color: #FFFFFF !important;
  background-color: #ddaa77 !important;
}

.file-cta {
  color: #FFFFFF !important;
  background-color: #ddaa77 !important;
}

.is-success {
  color: #FFFFFF !important;
  background-color: #ddaa77 !important;
}

.pagination-link {
  background-color: #FEFEFE;
}

.panel {
  background-color: #FEFEFE;
}

.content {
  color: #4a1f0f !important;
}

ul, p {
  color: #4a1f0f !important;
}

a:hover{
    color: #0000FF !important;
}

input::placeholder {
color: #CACACA !important;
}

.navbar,.navbar-menu,.navbar-link:hover,a.navbar-item:focus-within,.navbar-dropdown,.dropdown-item:hover,.navbar-item:hover{
    background-color: #7b5544 !important;
}

@media screen and (min-width: 1024px){
    .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #6a4433 !important;
    }
}

.navbar-link::after {
    border: 1px solid #fff !important;
    border-right: 0 !important;
    border-top: 0 !important;
    content: " ";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .5em;
    margin-top: -.375em;
    right: 1.125em;
    top: 50%;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.centered-table tr td {
  text-align: center;
  vertical-align: middle;
}

.blur{
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.thumb{
  max-height: 65vh;
  width: auto;
  border-radius: 5px;
}

/*
* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-size: auto auto;
  background-color: rgba(250, 193, 168, 1);
  background-image: repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(235, 182, 158, 1) 20px, rgba(235, 182, 158, 1) 40px );
}

区切り線
.border{
  border-bottom: 1px solid #FEE7CF;
}

タイトルカラー
.title {
  color: #6B3939;
  font-size: 6.5vmin;
}

サブタイトル
.subtitle {
  color: #955E4B;
  font-size: 4vmin;
}

通常リンク
a {
  color: #945f4b;
}

訪問済みリンク
a:visited {
  color: #63311e;
}

p {
  color: #4a1f0f;
}

.is-primary {
  background-color: #ddaa77 !important;
}

.is-secondary {
  color: #FFFFFF !important;
  background-color: #ccaa99 !important;
}
*/