
/* 背景グラデーションと飾りを置く */
body {
  background-size:
    auto auto;
  background-color: rgba(250, 193, 168, 1);
  background-repeat:
    repeat-y;
  background-position:
    right top;
  background-image:
    url(~static/deco_right.svg),
    repeating-linear-gradient( to right, #ffe9dc, #ffe9dc 18px, #FFECE0 18px, #FFECE0 33px );
}

/* iOSなどのため、最低高さを決める */
main {
    min-height:97vh;
}

/* ページネーションの リンクに背景色を */
.pagination-link {
  background-color: #FEFEFE;
}

/* マイページの項目の背景 */
.panel {
  background-color: #FEFEFE;
}

/* メニューバーのドロップダウンアイコン(Bulmaのどうしようもない仕様を無理やり上書き)*/
.navbar-link::after {
    border: 2px solid #fff !important;
    border-right: 0 !important;
    border-top: 0 !important;
    content: " ";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .5em;
    margin-top: -.375em;
    right: 1.125em;
    top: 50%;
}

/* 画像を左右中央寄せ */
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

/* テーブルを丸める */
table {
  border-radius: 8px;
}

/* テーブルを中央寄せ */
.centered-table tr td {
  text-align: center;
  vertical-align: middle;
}

/* 軽くモザイクかける */
.blur{
  -ms-filter: blur(20px);
  filter: blur(20px);
}

/* 画像サイズの限界を決める/丸める */
.thumb{
  max-height: 65vh;
  width: auto;
  border-radius: 5px;
}
