
/* Layout: 背景グラデーションと飾りを置く */
body {
  background-size:
    auto auto;
  background-color: rgba(250, 193, 168, 1);
  background-repeat:
    repeat-y;
  background-position:
    right top;
  background-image:
    url(~static/deco_right.svg),
    repeating-linear-gradient( to right, #ffe9dc, #ffe9dc 18px, #FFECE0 18px, #FFECE0 33px );
}

/* Layout: iOSなどのため、最低高さを決める */
main {
    min-height:97vh;
}

/* Layout: ページ遷移時のアニメーション */
.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: opacity 0.6s;
}

/* BackToTop AND BackToRecent: 下部メニューがあったらズラす*/
.has-bottom {
  bottom: 65px;
}
.no-bottom {
  bottom: 20px;
}

/* BackToTop: 上に戻るボタン  */
.scroll-top {
  position: fixed;
  right: 20px;
  background-color: #000;
  padding: 10px 16px;
  border-radius: 32px;
}
.scroll-icon {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
.fade-enter-active,
.fade-leave-active {
 transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
 opacity: 0;
}

/* BackToRecent: 前のページに戻るボタン */
.back-button {
  position: fixed;
  left: 20px;
  background-color: #000;
  padding: 10px 13px;
  border-radius: 32px;
}
.back-icon {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

/* Layout: Blossom-Loader */
#js-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}


/* Navbar: ページネーションの リンクに背景色を */
.pagination-link {
  background-color: #FEFEFE;
}

/* Navbar: メニューバーのドロップダウンアイコン(Bulmaのどうしようもない仕様を無理やり上書き)*/
.navbar-link::after {
    border: 2px solid #fff !important;
    border-right: 0 !important;
    border-top: 0 !important;
    content: " ";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .5em;
    margin-top: -.375em;
    right: 1.125em;
    top: 50%;
}

/* Profile: マイページの項目の背景 */
.panel {
  background-color: #FEFEFE;
}

/* Error: エラーページの画像 */
.error-img {
  max-width: 100%;
  height: auto;
  max-height: 50vh;
}

/* Helper: 画像を左右中央寄せ */
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

/* Helper: テーブルを丸める */
table {
  border-radius: 8px;
}

/* Helper: テーブルを中央寄せ */
.centered-table tr td {
  text-align: center;
  vertical-align: middle;
}

/* Helper: 軽くモザイクかける */
.blur{
  -ms-filter: blur(20px);
  filter: blur(20px);
}

/* Helper: 画像サイズの限界を決める/丸める */
.thumb{
  max-height: 65vh;
  width: auto;
  border-radius: 5px;
}
